@mixin btn () {
    display: block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    border: 1px solid black;
    text-align: center;
    padding: 1em 0;
    transition: all 300ms ease;
    &:hover {
        background: black;
        color: white;
        border-color: transparent;
    }
}

.container {
    width: 90%;
    height: 90vh;
    margin: 6rem auto 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;

    p {
        text-align: center;
    }
}


.foto {
    width: 21em;
    transform: rotate(90deg);
    margin-bottom: 3.5rem;
}

.btn {
    width: 100%;
    a {
        @include btn;
    }
}

.socials {
    margin-top: 3em;
    display: flex;
    gap: 1em;
}

.icon {
    box-sizing: content-box;
    background: black;
    color: white;
    padding: .5em;
    font-size: 1.5em;
}

@media screen and (min-width: 768px) {

    .container {
        font-size: 20px;
    }

    .foto {
        width: 75%;
        transform: initial;
        margin-bottom: 0;
    }

}

@media screen and (min-width: 1024px) {

    .section {
        position: relative;
    }

    .socials {
        position: absolute;
        bottom: 0;
        right: 1rem;
    }


    .container {
        height: 100vh;

        margin: 0 auto;
    }


    .foto {
        width: 45%;
    }

    .btn {
        width: 40%;
    }

}

@media screen and (min-width: 1600px) {


    .foto {
        width: 30%;
    }


}