.section {
    background: black;
    color: white;

    h4 {
        font-weight: 300;
        text-align: center;
        padding: 3em 0;
        letter-spacing: 2px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: .3em;
    }

    .foto_grande {
        grid-column: 1/3;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {

    .section {
        h4 {
            font-size: 1.5em;
            padding: 2em 0;
        }
    }

    .grid {
        width: 70%;
        margin: 0 auto;
    }

    
    .foto_grande {
        grid-column: 1/3;
        width: 60%;
    }

}