.section {
    margin: 4rem auto;
}

.foto {
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin-bottom: 5rem;
}

.container_2 {
    display: none;
    width: 90%;
    margin: 12rem auto;
}

.foto_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .3em;
}

.content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    
    h2 {
        font-size: 1.2em;
        font-weight: 500;
    }

    h3 {
        font-size: 1.8em;
        font-weight: 700;
    }

    p {
        font-size: 1em;
        font-weight: 400;
    }

    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        margin: 1em 0;
        border: 1px solid black;

        caption {
            font-weight: 700;
            margin-bottom: .7em;
        }

        th, td {
            padding: .5em;
            border: 1px solid black
        }

        th {
            font-size: .8em;
        }



    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5em;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2em;
        border: 1px solid black;
        text-align: center;
        padding: 1em 0;
        transition: all 300ms ease;
        &:hover {
            background: black;
            color: white;
            border-color: transparent;
        }
    }

    .icon {
        font-size: 1.5em;
    }

}

.title {
    text-align: end;
}

@media screen and (min-width: 768px) {


    .container {
        font-size: 18px;
    }

    .content {
        table {
            th {
                font-size: 1em;
            }
        }
    }

}

@media screen and (min-width: 1024px) {

    .container {
        display: none;
    }

    .container_2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }

    .content {
        h2 {
            font-size: 1.5em;
        }
    }


}

